$black: #000;
	$black-95: rgba($black,0.95);
	$black-90: rgba($black,0.9);
	$black-85: rgba($black,0.85);
	$black-80: rgba($black,0.8);
	$black-75: rgba($black,0.75);
	$black-70: rgba($black,0.7);
	$black-65: rgba($black,0.65);
	$black-60: rgba($black,0.6);
	$black-55: rgba($black,0.55);
	$black-50: rgba($black,0.5);
	$black-45: rgba($black,0.45);
	$black-40: rgba($black,0.4);
	$black-35: rgba($black,0.35);
	$black-30: rgba($black,0.3);
	$black-25: rgba($black,0.25);
	$black-20: rgba($black,0.2);
	$black-15: rgba($black,0.15);
	$black-10: rgba($black,0.1);
	$black-05: rgba($black,0.5);

$white: #fff;
	$white-95: rgba($white,0.95);
	$white-90: rgba($white,0.9);
	$white-85: rgba($white,0.85);
	$white-80: rgba($white,0.8);
	$white-75: rgba($white,0.75);
	$white-70: rgba($white,0.7);
	$white-65: rgba($white,0.65);
	$white-60: rgba($white,0.6);
	$white-55: rgba($white,0.55);
	$white-50: rgba($white,0.5);
	$white-45: rgba($white,0.45);
	$white-40: rgba($white,0.4);
	$white-35: rgba($white,0.35);
	$white-30: rgba($white,0.3);
	$white-25: rgba($white,0.25);
	$white-20: rgba($white,0.2);
	$white-15: rgba($white,0.15);
	$white-10: rgba($white,0.1);
	$white-05: rgba($white,0.5);

$yellow: #fcda3a;
	$yellow-95: rgba($yellow,0.95);
	$yellow-90: rgba($yellow,0.9);
	$yellow-85: rgba($yellow,0.85);
	$yellow-80: rgba($yellow,0.8);
	$yellow-75: rgba($yellow,0.75);
	$yellow-70: rgba($yellow,0.7);
	$yellow-65: rgba($yellow,0.65);
	$yellow-60: rgba($yellow,0.6);
	$yellow-55: rgba($yellow,0.55);
	$yellow-50: rgba($yellow,0.5);
	$yellow-45: rgba($yellow,0.45);
	$yellow-40: rgba($yellow,0.4);
	$yellow-35: rgba($yellow,0.35);
	$yellow-30: rgba($yellow,0.3);
	$yellow-25: rgba($yellow,0.25);
	$yellow-20: rgba($yellow,0.2);
	$yellow-15: rgba($yellow,0.15);
	$yellow-10: rgba($yellow,0.1);
	$yellow-05: rgba($yellow,0.5);

$beige: #a19689;
	$beige-95: rgba($beige,0.95);
	$beige-90: rgba($beige,0.9);
	$beige-85: rgba($beige,0.85);
	$beige-80: rgba($beige,0.8);
	$beige-75: rgba($beige,0.75);
	$beige-70: rgba($beige,0.7);
	$beige-65: rgba($beige,0.65);
	$beige-60: rgba($beige,0.6);
	$beige-55: rgba($beige,0.55);
	$beige-50: rgba($beige,0.5);
	$beige-45: rgba($beige,0.45);
	$beige-40: rgba($beige,0.4);
	$beige-35: rgba($beige,0.35);
	$beige-30: rgba($beige,0.3);
	$beige-25: rgba($beige,0.25);
	$beige-20: rgba($beige,0.2);
	$beige-15: rgba($beige,0.15);
	$beige-10: rgba($beige,0.1);
	$beige-05: rgba($beige,0.5);